.NET/VS2010TrainingKit/Labs/07 - Web Services and Silverlight/Source/Completed/VB/UsingWCFServices/Service References/WebServiceProxies/CustomersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" />
      <xsd:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UsingWCFServices.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomersService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="GetCustomers" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetOrdersByCustomerID_InputMessage">
    <wsdl:part name="parameters" element="GetOrdersByCustomerID" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetOrdersByCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="GetOrdersByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_UpdateSalesOrderHeader_InputMessage">
    <wsdl:part name="parameters" element="UpdateSalesOrderHeader" />
  </wsdl:message>
  <wsdl:message name="CustomersService_UpdateSalesOrderHeader_OutputMessage">
    <wsdl:part name="parameters" element="UpdateSalesOrderHeaderResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomersService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="urn:CustomersService/GetCustomers" message="CustomersService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="urn:CustomersService/GetCustomersResponse" message="CustomersService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByCustomerID">
      <wsdl:input wsaw:Action="urn:CustomersService/GetOrdersByCustomerID" message="CustomersService_GetOrdersByCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="urn:CustomersService/GetOrdersByCustomerIDResponse" message="CustomersService_GetOrdersByCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesOrderHeader">
      <wsdl:input wsaw:Action="urn:CustomersService/UpdateSalesOrderHeader" message="CustomersService_UpdateSalesOrderHeader_InputMessage" />
      <wsdl:output wsaw:Action="urn:CustomersService/UpdateSalesOrderHeaderResponse" message="CustomersService_UpdateSalesOrderHeader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>