.NET/VS2010TrainingKit/Labs/07 - Web Services and Silverlight/Source/Completed/VB/UsingWCFServices/Service References/WebServiceProxies/CustomersService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UsingWCFServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsingWCFServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationID" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="RecordsAffected" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationStatus" nillable="true" type="tns:OperationStatus" />
</xs:schema>