.NET/VS2010TrainingKit/Labs/07 - Web Services and Silverlight/Source/Completed/VB/UsingWCFServices/Service References/WebServiceProxies/CustomersService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:52412/Services/CustomersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NameStyle" type="xs:boolean" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesOrderHeaders" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
          <xs:element minOccurs="0" name="SalesPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfSalesOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrderHeader" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
  <xs:complexType name="SalesOrderHeader">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToAddressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditCardApprovalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="q2:EntityReferenceOfCustomervpMbBPNO" />
          <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OnlineOrderFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PurchaseOrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisionNumber" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
          <xs:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ShipMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipToAddressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="TaxAmt" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDue" type="xs:decimal" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
</xs:schema>