.NET/VS2010TrainingKit/Labs/07 - Web Services and Silverlight/Source/Completed/C#/UsingWCFServices/Service References/WebServiceProxies/CustomersService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37156/Services/CustomersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" />
  <xs:import schemaLocation="http://localhost:37156/Services/CustomersService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UsingWCFServices.Models" />
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" minOccurs="0" name="GetCustomersResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" minOccurs="0" name="GetOrdersByCustomerIDResult" nillable="true" type="q2:ArrayOfSalesOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UsingWCFServices.Web.Models" minOccurs="0" name="order" nillable="true" type="q3:SalesOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UsingWCFServices.Models" minOccurs="0" name="UpdateSalesOrderHeaderResult" nillable="true" type="q4:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>