.NET/VS2010TrainingKit/Labs/03 - XAML and Controls/Source/Starting Point/C#/PanelsControlsLab/SampleData/Contacts/Contacts.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Contacts" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Contacts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Contacts" type="tns:Contacts" />
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="PhoneNumber" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="WebSite" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\..\..\temp\sample pictures" name="Image" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>