.NET/WCF/!My/WCF/Chapter2/OverloadedService/WpfApplicationTest/Service References/Test.Calculator/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg1" type="xs:int" />
        <xs:element minOccurs="0" name="arg2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIntResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg1" type="xs:double" />
        <xs:element minOccurs="0" name="arg2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDoubleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>