.NET/ASP.NET/Pro ASP.NET 2.0/Chapter33/WebServices2/FileData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="FileData" targetNamespace="http://www.apress.com/ProASP.NET/FileData" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  
    <xs:complexType name="FileData" >
      <xs:sequence>
        <xs:element name="fileName" type="xs:string" />
        <xs:element name="size" type="xs:int" />
        <xs:element name="content" >
          <xs:complexType >
            <xs:sequence>
              <xs:element name="chunk" type="xs:base64Binary" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  
</xs:schema>