.NET/WCF/!My/WCF/Chapter1/MyService/TestWcfApplication/Service References/MyService/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyNamespace" elementFormDefault="qualified" targetNamespace="MyNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyMethodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>